@charset "utf-8";

@import url(default.css);

/* PC */
@media screen and (min-width: 900px) {
    .web-title {
        margin: 20% 40%;
    }

    .profile h3 {
        color: black;
        font-size: 24px;
        display: flex;
        align-items: center;
    }

    .profile h3:before,
    .profile h3:after {
        content: "";
        flex-grow: 1;
        height: 1px;
        background: #444;
        display: block;
    }

    .profile h3:before {
        margin-right: 0.4em;
    }

    .profile h3:after {
        margin-left: 0.4em;
    }

    .profile-naiyou {
        margin: auto 30% 50px;
    }

    .prifile-category {
        margin: 3% auto;
    }

    .prifile-link-a {
        margin: auto 1%;
    }

    .prifile-link li {
        list-style: none;
        float: left;
    }

    footer {
        background-color: black;
        height: 50px;
        margin-top: auto;
    }

    footer p {
        color: white;
        margin: auto 38%;
    }
}

/* タブレット */
@media screen and (max-width: 959px) {
    .web-title {
        margin: 100px 243px;
    }

    .profile h3 {
        color: black;
        font-size: 24px;
        display: flex;
        align-items: center;
    }

    .profile h3:before,
    .profile h3:after {
        content: "";
        flex-grow: 1;
        height: 1px;
        background: #444;
        display: block;
    }

    .profile h3:before {
        margin-right: 0.4em;
    }

    .profile h3:after {
        margin-left: 0.4em;
    }

    .profile-naiyou {
        margin: auto 150px 50px;
    }

    .prifile-category {
        margin: 30px auto;
    }

    .prifile-link-a {
        margin: auto 1%;
    }

    .prifile-link li {
        list-style: none;
        float: left;
    }

    footer {
        background-color: black;
        height: 90px;
    }

    footer p {
        color: white;
        margin: auto 230px;
    }
}

/* スマホ */
@media screen and (max-width: 480px) {
    .web-title {
        margin: 100px 42px;
    }

    .profile h3 {
        color: black;
        font-size: 24px;
        display: flex;
        align-items: center;
    }

    .profile h3:before,
    .profile h3:after {
        content: "";
        flex-grow: 1;
        height: 1px;
        background: #444;
        display: block;
    }

    .profile h3:before {
        margin-right: 0.4em;
    }

    .profile h3:after {
        margin-left: 0.4em;
    }

    .profile-naiyou {
        margin: auto 40px 50px;
    }

    .prifile-category {
        margin: 30px auto;
    }

    .prifile-link-a {
        margin: auto 1%;
    }

    .prifile-link li {
        list-style: none;
        float: left;
    }

    footer {
        background-color: black;
        height: 100px;
    }

    footer p {
        color: white;
        margin: auto 50px;
    }
}